Istall Library kaggle

In [ ]:
! pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [ ]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

import random
from sklearn.model_selection import train_test_split, RandomizedSearchCV, GridSearchCV
from sklearn.preprocessing import StandardScaler, Normalizer, MinMaxScaler, RobustScaler
from sklearn.metrics import accuracy_score, classification_report, f1_score, confusion_matrix, precision_score, recall_score

import pandas
from sklearn.model_selection import cross_val_score, cross_val_predict
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import KFold
from sklearn.neighbors import KNeighborsClassifier

buat direktori baru

In [ ]:
! mkdir ~/.kaggle

Copy file.jason ke direktori baru

In [ ]:
! cp kaggle.json ~/.kaggle/

Ubah izin file

In [ ]:
! chmod 600 ~/.kaggle/kaggle.json

DOWNLOAD DATASET

In [ ]:
! kaggle datasets download nguyenphd/goodreads-best-books-ever-with-recommendations

Downloading goodreads-best-books-ever-with-recommendations.zip to /content
  0% 0.00/10.3M [00:00<?, ?B/s]
100% 10.3M/10.3M [00:00<00:00, 115MB/s]

Unzip

In [ ]:
! unzip /content/goodreads-best-books-ever-with-recommendations.zip

Archive:  /content/goodreads-best-books-ever-with-recommendations.zip
  inflating: Goodreads_BestBooksEver_1-10000.csv

Memeriksa data

In [ ]:
data = pd.read_csv('/content/Goodreads_BestBooksEver_1-10000.csv', index_col=False)
data.head(10)

,url,bookTitle,bookImage,bookAuthors,bookDesc,bookRating,ratingCount,reviewCount,bookPages,bookGenres,bookISBN,recommendations
0,https://www.goodreads.com/book/show/2767052-th...,The Hunger Games,https://i.gr-assets.com/images/S/compressed.ph...,Suzanne Collins,"Could you survive on your own in the wild, wit...",4.32,6717635,176054,374 pages,"Young Adult/31,498|Fiction/17,878|Science Fict...",9.780439e+12,"['Divergent (Divergent, #1)|https://www.goodre..."
1,https://www.goodreads.com/book/show/2.Harry_Po...,Harry Potter and the Order of the Phoenix,https://i.gr-assets.com/images/S/compressed.ph...,"J.K. Rowling,Mary GrandPrÃ©",There is a door at the end of a silent corrido...,4.50,2668409,45724,870 pages,"Fantasy/1,797|Young Adult/15,961|Fiction/14,15...",NaN,['Harry Potter and the Cursed Child: Parts One...
2,https://www.goodreads.com/book/show/2657.To_Ki...,To Kill a Mockingbird,https://i.gr-assets.com/images/S/compressed.ph...,Harper Lee,The unforgettable novel of a childhood in a sl...,4.28,4772918,95595,324 pages,"Classics/47,203|Fiction/23,575|Historical-Hist...",NaN,['The Great Gatsby|https://www.goodreads.com/b...
3,https://www.goodreads.com/book/show/1885.Pride...,Pride and Prejudice,https://i.gr-assets.com/images/S/compressed.ph...,"Jane Austen,Anna Quindlen",Alternate cover edition of ISBN 9780679783268S...,4.27,3206070,74020,279 pages,"Classics/52,699|Fiction/15,730|Romance/12,874|...",NaN,['Jane Eyre|https://www.goodreads.com/book/sho...
4,https://www.goodreads.com/book/show/41865.Twil...,Twilight,https://i.gr-assets.com/images/S/compressed.ph...,Stephenie Meyer,About three things I was absolutely positive.F...,3.61,5231000,107619,501 pages,"Young Adult/19,982|Fantasy/19,312|Romance/12,0...",9.780316e+12,"['The Hunger Games (The Hunger Games, #1)|http..."
5,https://www.goodreads.com/book/show/19063.The_...,The Book Thief,https://i.gr-assets.com/images/S/compressed.ph...,Markus Zusak,Librarian's note: An alternate cover edition c...,4.38,1954165,117307,552 pages,"Historical-Historical Fiction/20,161|Fiction/1...",9.780376e+12,['All the Light We Cannot See|https://www.good...
6,https://www.goodreads.com/book/show/7613.Anima...,Animal Farm,https://i.gr-assets.com/images/S/compressed.ph...,"George Orwell,Boris Grabnar,CelÃ¢l Ãster,CelÃ¢l ...",George Orwell's timeless and timely allegorica...,3.96,2926888,61574,122 pages,"Classics/34,158|Fiction/19,552|Science Fiction...",9.780452e+12,['The Great Gatsby|https://www.goodreads.com/b...
7,https://www.goodreads.com/book/show/11127.The_...,The Chronicles of Narnia,https://i.gr-assets.com/images/S/compressed.ph...,"C.S. Lewis,Pauline Baynes",Librarian note: An alternate cover for this ed...,4.26,548649,10743,767 pages,"Fantasy/11,823|Classics/4,396|Fiction/3,903|Yo...",9.780066e+12,['J.R.R. Tolkien 4-Book Boxed Set: The Hobbit ...
8,https://www.goodreads.com/book/show/30.J_R_R_T...,J.R.R. Tolkien 4-Book Boxed Set: The Hobbit an...,https://i.gr-assets.com/images/S/compressed.ph...,J.R.R. Tolkien,"This four-volume, boxed set contains J.R.R. To...",4.60,115027,1863,1728 pages,"Fantasy/2,291|Fiction/670|Classics/587|Adventu...",9.780346e+12,['The Chronicles of Narnia (Chronicles of Narn...
9,https://www.goodreads.com/book/show/18405.Gone...,Gone with the Wind,https://i.gr-assets.com/images/S/compressed.ph...,Margaret Mitchell,"Scarlett O'Hara, the beautiful, spoiled daught...",4.30,1106466,20591,1037 pages,"Classics/13,899|Historical-Historical Fiction/...",9.780447e+12,['Scarlett|https://www.goodreads.com/book/show...

In [ ]:
data.isnull().sum().sort_values(ascending=False)

bookISBN           1499
recommendations     148
bookGenres          100
bookPages            95
bookDesc             50
bookImage            12
url                   0
bookTitle             0
bookAuthors           0
bookRating            0
ratingCount           0
reviewCount           0
dtype: int64

In [ ]:
# Informasi data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   url              10000 non-null  object
 1   bookTitle        10000 non-null  object
 2   bookImage        9988 non-null   object
 3   bookAuthors      10000 non-null  object
 4   bookDesc         9950 non-null   object
 5   bookRating       10000 non-null  float64
 6   ratingCount      10000 non-null  int64
 7   reviewCount      10000 non-null  int64
 8   bookPages        9905 non-null   object
 9   bookGenres       9900 non-null   object
 10  bookISBN         8501 non-null   float64
 11  recommendations  9852 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 937.6+ KB

In [ ]:
# Informasi data2
print(f"Data mengandung {data.shape[0]} baris dan {data.shape[1]} kolom")

num_feat = [feat for feat in data if data[feat].dtype!=object]
cat_feat = [feat for feat in data if data[feat].dtype==object]

print(f'Jumlah fitur pada data: {len(num_feat + cat_feat)}')
print(f'Jumlah fitur numerik pada data: {len(num_feat)}')
print(num_feat)
print(f'Jumlah fitur kategori pada data: {len(cat_feat)}')
print(cat_feat)

Data mengandung 10000 baris dan 12 kolom
Jumlah fitur pada data: 12
Jumlah fitur numerik pada data: 4
['bookRating', 'ratingCount', 'reviewCount', 'bookISBN']
Jumlah fitur kategori pada data: 8
['url', 'bookTitle', 'bookImage', 'bookAuthors', 'bookDesc', 'bookPages', 'bookGenres', 'recommendations']

In [ ]:
# Deskripsi data
data.describe()

         bookRating   ratingCount    reviewCount      bookISBN
count  10000.000000  1.000000e+04   10000.000000  8.501000e+03
mean       4.053758  1.039182e+05    4953.632100  9.770250e+12
std        0.254552  3.275863e+05   11594.836725  3.133383e+11
min        2.050000  1.000000e+00       0.000000  9.780616e+09
25%        3.890000  9.914000e+03     541.750000  9.780316e+12
50%        4.060000  2.595150e+04    1447.500000  9.780553e+12
75%        4.220000  7.097550e+04    3878.250000  9.781400e+12
max        5.000000  7.550262e+06  176063.000000  9.789972e+12

DATA  CLEANING

In [ ]:
data.drop_duplicates(subset = ['bookTitle'], keep = 'first', inplace = True, ignore_index = True) #Menghilangkan judul yang sama

In [ ]:
data.dropna(subset = ['bookTitle', 'bookAuthors', 'bookGenres', 'bookDesc','recommendations'], inplace = True) #Menghilangkan semua nilai NaN

In [ ]:
data.reset_index(inplace = True)

In [ ]:
# Informasi data setelah di cleaning
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9246 entries, 0 to 9245
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            9246 non-null   int64
 1   url              9246 non-null   object
 2   bookTitle        9246 non-null   object
 3   bookImage        9240 non-null   object
 4   bookAuthors      9246 non-null   object
 5   bookDesc         9246 non-null   object
 6   bookRating       9246 non-null   float64
 7   ratingCount      9246 non-null   int64
 8   reviewCount      9246 non-null   int64
 9   bookPages        9174 non-null   object
 10  bookGenres       9246 non-null   object
 11  bookISBN         7938 non-null   float64
 12  recommendations  9246 non-null   object
dtypes: float64(2), int64(3), object(8)
memory usage: 939.2+ KB

In [ ]:
data.isnull().sum().sort_values(ascending=False)

bookISBN           1308
bookPages            72
bookImage             6
index                 0
url                   0
bookTitle             0
bookAuthors           0
bookDesc              0
bookRating            0
ratingCount           0
reviewCount           0
bookGenres            0
recommendations       0
dtype: int64

In [ ]:
 del data['extra']