In [ ]:
import pandas as pd
import os
import numpy as np
from collections import Counter
from nltk.tokenize import word_tokenize
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from wordcloud import wordcloud
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

# data goodreads_cleaning1

In [ ]:
data = pd.read_json("/content/goodreads_cleaning1.json")

In [ ]:
data.head(5)

,url,bookTitle,bookImage,bookAuthors,bookDesc,bookRating,ratingCount,reviewCount,bookPages,bookGenres,bookISBN,recommendations
0,https://www.goodreads.com/book/show/2767052-th...,the hunger games,https://i.gr-assets.com/images/S/compressed.ph...,suzanne collins,"Could you survive on your own in the wild, wit...",4.32,6717635,176054,374,young adult fiction science fiction dystopia f...,9780439023481,"['Divergent (Divergent, #1)|https://www.goodre..."
1,https://www.goodreads.com/book/show/41865.Twil...,twilight,https://i.gr-assets.com/images/S/compressed.ph...,stephenie meyer,About three things I was absolutely positive.F...,3.61,5231000,107619,501,young adult fantasy romance fiction paranormal...,9780316015844,"['The Hunger Games (The Hunger Games, #1)|http..."
2,https://www.goodreads.com/book/show/19063.The_...,the book thief,https://i.gr-assets.com/images/S/compressed.ph...,markus zusak,Librarian's note: An alternate cover edition c...,4.38,1954165,117307,552,historical historical fiction fiction young ad...,9780375831003,['All the Light We Cannot See|https://www.good...
3,https://www.goodreads.com/book/show/7613.Anima...,animal farm,https://i.gr-assets.com/images/S/compressed.ph...,george orwellboris grabnarcelâl üstercelâl üst...,George Orwell's timeless and timely allegorica...,3.96,2926888,61574,122,classics fiction science fiction dystopia fant...,9780452284241,['The Great Gatsby|https://www.goodreads.com/b...
4,https://www.goodreads.com/book/show/11127.The_...,the chronicles of narnia,https://i.gr-assets.com/images/S/compressed.ph...,cs lewispauline baynes,Librarian note: An alternate cover for this ed...,4.26,548649,10743,767,fantasy classics fiction young adult childrens...,9780066238500,['J.R.R. Tolkien 4-Book Boxed Set: The Hobbit ...

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8316 entries, 0 to 8315
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   url              8316 non-null   object
 1   bookTitle        8316 non-null   object
 2   bookImage        8316 non-null   object
 3   bookAuthors      8316 non-null   object
 4   bookDesc         8316 non-null   object
 5   bookRating       8316 non-null   float64
 6   ratingCount      8316 non-null   int64
 7   reviewCount      8316 non-null   int64
 8   bookPages        8316 non-null   int64
 9   bookGenres       8316 non-null   object
 10  bookISBN         8316 non-null   int64
 11  recommendations  8316 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 779.8+ KB

In [ ]:
data.isnull().sum()

url                0
bookTitle          0
bookImage          0
bookAuthors        0
bookDesc           0
bookRating         0
ratingCount        0
reviewCount        0
bookPages          0
bookGenres         0
bookISBN           0
recommendations    0
dtype: int64

# search engine

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
vectorizer = TfidfVectorizer()

tfidf = vectorizer.fit_transform(data['bookTitle'])

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
import re

query = 'mortal instruments'
processed = re.sub('[^a-zA-Z0-9 ]','',query.lower())
query_vec = vectorizer.transform([processed])

In [ ]:
similarity = cosine_similarity(query_vec, tfidf).flatten()
similarity

array([0., 0., 0., ..., 0., 0., 0.])

In [ ]:
indices = np.argsort(-similarity)
result = data.iloc[indices]
result.head(5)

,url,bookTitle,bookImage,bookAuthors,bookDesc,bookRating,ratingCount,reviewCount,bookPages,bookGenres,bookISBN,recommendations
3109,https://www.goodreads.com/book/show/11106458-t...,the mortal instruments,https://i.gr-assets.com/images/S/compressed.ph...,cassandra clare,The Shadowhunters—touched by angels and charge...,4.57,16639,394,1952,fantasy young adult romance fantasy paranormal...,9781442440432,"['Vampire Academy Collection (Vampire Academy,..."
7096,https://www.goodreads.com/book/show/20522640-m...,mortal heart,https://i.gr-assets.com/images/S/compressed.ph...,robin lafevers,Annith has watched her gifted sisters at the c...,4.11,22529,2600,444,fantasy young adult romance historical fiction...,9780547628400,['The Shadows Between Us|https://www.goodreads...
3050,https://www.goodreads.com/book/show/8113344-mo...,mortal coil,https://i.gr-assets.com/images/S/compressed.ph...,derek landy,Following the shocking revelations of DARK DAY...,4.47,17163,687,604,fantasy young adult fantasy urban fantasy fant...,9780007325986,['Future Friend|https://www.goodreads.com/book...
3260,https://www.goodreads.com/book/show/287861.Mor...,mortal engines,https://i.gr-assets.com/images/S/compressed.ph...,philip reeve,"""It was a dark, blustery afternoon in spring, ...",3.77,53687,5423,326,fantasy young adult science fiction steampunk ...,9780060082093,['Хроники хищных городов. Книга 3. Адские конс...
415,https://www.goodreads.com/book/show/6485421-th...,the mortal instruments boxed set city of bones...,https://i.gr-assets.com/images/S/compressed.ph...,cassandra clare,"In City of Bones, fifteen-year-old Clary Fray ...",4.56,65587,1093,1520,fantasy young adult fantasy paranormal romance...,9781416997856,['The Twilight Saga Complete Collection (Twil...

In [ ]:
data.keys()

Index(['url', 'bookTitle', 'bookImage', 'bookAuthors', 'bookDesc',
       'bookRating', 'ratingCount', 'reviewCount', 'bookPages', 'bookGenres',
       'bookISBN', 'recommendations'],
      dtype='object')

#recommender system

In [ ]:
import os
import re
import nltk
import requests
import warnings
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Item-Based Collaborative Filtering

In [ ]:
def item_based_recommender(bookTitle):
    
    bookTitle = str(bookTitle)
    if bookTitle in data['bookTitle'].values:
    
        rating_counts = data['ratingCount']
        rare_books = rating_counts[rating_counts['bookTitle'] <= 180].index
        common_books = data[~data['bookTitle'].isin(rare_books)]
        
        if bookTitle in rare_books:
            
            random = pd.Series(common_books['bookTitle'].unique()).sample(2).values
            print('There are no recommendations for this book')
            print('Try: \n')
            print('{}'.format(random[0]),'\n')
            print('{}'.format(random[1]),'\n')
        
        else:
            user_book_data = common_books.pivot_table(index,columns=['bookTitle'],values='rating')
        
            book = user_book_data[bookTitle]
            recom_data = pd.DataFrame(user_book_data.corrwith(book). \
                                      sort_values(ascending=False)).reset_index(drop=False)
            
            if bookTitle in [book for book in recom_data['bookTitle']]:
                recom_data = recom_data.drop(recom_data[recom_data['bookTitle'] == bookTitle].index[0])
                
            low_rating = []
            for i in recom_data['bookTitle']:
                if data[data['bookTitle'] == i]['rating'].mean() < 5:
                    low_rating.append(i)
                    
            if recom_data.shape[0] - len(low_rating) > 5:
                recom_data = recom_data[~recom_data['bookTitle'].isin(low_rating)]
            
            recom_data = recom_data[0:5]    
            recom_data.columns = ['bookTitle','corr']
            
            fig, axs = plt.subplots(1, 5,figsize=(18,5))
            fig.suptitle('You may also like these books', size = 22)
            for i in range(len(recom_data['bookTitle'].tolist())):
        
                url = books.loc[books['bookTitle'] == recom_data['bookTitle'].tolist()[i],'img_l'][:1].values[0]
                im = Image.open(requests.get(url, stream=True).raw)
                axs[i].imshow(im)
                axs[i].axis("off")
                axs[i].set_title('Rating: {}'.format(round(data[data['bookTitle'] == recom_data['bookTitle'].tolist()[i]]['rating'].mean(),1)),
                             y=-0.18,
                                 color="red",
                                 fontsize=18)
                fig.show()
    else:
        print('Cant find book in dataset, please check spelling')

In [ ]:
rating_counts = data['ratingCount']
rating_counts